// Hex Codes
$light-gray: #eee;
$dark-gray: #2f2f2f;
$charcoal: #1a1a1a;
$fb-blue: #1877f2;
$ct-blue: #5f038a;
$rethink-gold: #ab987a;
$atlantic-red: #ff090e;

// Components
$project-tiles--color: $dark-gray;
$footer--background: $charcoal;
$footer--color: $light-gray;
