// Maison Neue
@font-face {
  font-family: 'MaisonNeue-Light';
  src: url('../fonts/MaisonNeue-Light.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Light.woff') format('woff'),
    url('../fonts/MaisonNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Book.woff') format('woff'),
    url('../fonts/MaisonNeue-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url('../fonts/MaisonNeue-Medium.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Medium.woff') format('woff'),
    url('../fonts/MaisonNeue-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeue-Demi';
  src: url('../fonts/MaisonNeue-Demi.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Demi.woff') format('woff'),
    url('../fonts/MaisonNeue-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Bold.woff') format('woff'),
    url('../fonts/MaisonNeue-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('../fonts/MaisonNeue-Mono.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Mono.woff') format('woff'),
    url('../fonts/MaisonNeue-Mono.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Regular.eot');
  src: url('../fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Regular.woff') format('woff'),
       url('../fonts/Calibre-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Medium.eot');
  src: url('../fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Medium.woff') format('woff'),
       url('../fonts/Calibre-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Semibold.eot');
  src: url('../fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Bold.eot');
  src: url('../fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Bold.woff') format('woff'),
       url('../fonts/Calibre-Bold.ttf')  format('truetype');
  font-weight: 700;
}
