// Canela
@font-face {
  font-family: 'Canela';
  font-weight: 300;
  src: url('../fonts/Canela-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Canela';
  font-weight: 400;
  src: url('../fonts/Canela-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Canela';
  font-weight: 600;
  src: url('../fonts/Canela-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Canela';
  font-weight: 700;
  src: url('../fonts/Canela-Bold.otf') format('opentype');
}

// Neue Haas Grotesk
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 400;
  src: url('../fonts/NeueHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 600;
  src: url('../fonts/NeueHaasGroteskMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 700;
  src: url('../fonts/NeueHaasGroteskBold.ttf') format('truetype');
}
