$max-width: 1600px;

// Media query breakpoints
$iphone5-width: 320px;
$iphone-width: 375px;
$mobile-width: 480px;
$ipad-width: 768px;
$ipad-pro-width: 1024px;
$desktop-width: 1440px;

// z-indices
$z-content-container: 1;
$z-intro-link: -1;
$z-rethink-video: 4;
$z-project-tiles-gradient: 1;
$z-project-tiles-image: 2;
$z-project-tiles-title: 3;
$z-project-tiles-cta: 3;
$z-project-tiles-content: 3;
$z-footer: -1;
