// Base
@import 'reset';
@import 'colors';
@import 'typography';
@import 'variables';

// Components
@import '../../src/components/ProjectTiles/ProjectTiles';
@import '../../src/components/Footer/Footer';

// Global
html, body {
	font-size: 62.5%;
	background: $app-border--color;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

.app {
	font-family: 'Neue Haas Grotesk',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	border: 20px solid $app-border--color;
}

.content-container {
	color: $dark-gray;
	background: $white;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 350px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 12%;
	position: relative;
	box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.25);
  z-index: $z-content-container;
}

// Landing
.landing {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.intro {
	font-family: 'Canela',Georgia,Times New Roman,"serif";
	font-weight: 400;
	font-size: 4rem;
	line-height: 6.4rem;
	letter-spacing: 0.03rem;
	position: relative;
	min-width: 100%;
	
	.name {
		font-weight: 700;
	}
}

.intro a {
  font-weight: 700;
	text-decoration: none;
	position: relative;
	display: inline-block;
	outline: none;
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	
	&::before {
    position: absolute;
		top: -7px;
    left: -1px;
    z-index: $z-intro-link;
    width: 101%;
    height: 115%;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scaleY(0.618) translateX(-100%);
    -ms-transform: scaleY(0.618) translateX(-100%);
    transform: scaleY(0.618) translateX(-100%);
		
		pointer-events: none;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
	}
	
	&:hover::before,
  &:focus::before {
  	-webkit-transform: scaleY(0.618) translateX(0);
  	-ms-transform: scaleY(0.618) translateX(0);
  	    transform: scaleY(0.618) translateX(0);
  }
	
	&.rethink {
		color: $rethink-red;
	}
	
	&.rethink::before {
		background: $rethink-red;
	}
	
	&.atlantic {
		color: $atlantic-gold;
	}
	
	&.atlantic::before {
		background: $atlantic-gold;
	}
	
	&:hover,
	&:focus {
		color: $white;
	}
}

.intro h2 {
	transform: translate3d(0, 20px, 0);
	opacity: 0;
	animation: fade-up-in--intro 1.2s cubic-bezier(0, 0.13, 0, 1.02) 0.9s forwards;
	will-change: transform, opacity;
}

.intro h2:nth-of-type(1) {
	animation-delay: 1.8s;
}

.intro h2:nth-of-type(2) {
	animation-delay: 1.9s;
}

.intro h2:nth-of-type(3) {
	animation-delay: 2s;
}

.intro h2:nth-of-type(4) {
	animation-delay: 2.1s;
	margin-top: 60px;
}

@keyframes fade-up-in--intro {
	from {
		transform: translate3d(0, 20px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, rgba(255, 255, 255, 0) 20%);
	background-position: 8% 80%;
	background-size: 5px 2px;
	background-repeat: repeat-x;
	transition: all 0.3s ease;
	margin: 0 8px;
}

.tooltip:hover {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 40%, rgba(255, 255, 255, 0) 20%);
	
	.tooltip__message {
	    opacity: 1;
	    margin-bottom: 5px;
	    visibility: visible;
	}
}

.tooltip__message {
	position: absolute;
  left: 30px;
  bottom: 92%;
  height: 41px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
	font-family: 'Neue Haas Grotesk';
  font-size: 1.4rem;
  line-height: 4rem;
  letter-spacing: 0.05rem;
	white-space: nowrap;
  border-radius: 7px;
  padding: 0px 15px;
	transform-origin: center center;
	transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
	opacity: 0;
  visibility: hidden;
	
	&::before {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid rgba(0, 0, 0, 0.8);
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -3px;
	}
}

.ampersand {
	width: 35px;
	margin: 0 5px;
}

// Side Nav Left
.side-nav-left {
	position: fixed;
	top: 0;
	left: 20px;
	width: 9%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.social-buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 200px;
		
		&.active {
			li {
				animation: fade-up-in--social 0.3s cubic-bezier(0, 0.13, 0, 1.02) 0.3s forwards;
			}
		}
		
		li {
			transform: translate3d(0, 10px, 0);
			opacity: 0;
			will-change: transform;
			will-change: opacity;

			&:nth-of-type(1) {
				animation-delay: 0s;
			}
			
			&:nth-of-type(2) {
				animation-delay: 0.1s;
			}

			&:nth-of-type(3) {
				animation-delay: 0.2s;
			}

			&:nth-of-type(4) {
				animation-delay: 0.3s;
			}
		}
		
		li a {
			transition: color 0.15s;
			
			&:hover .ring {
				stroke: $charcoal;
			}
			
			&:hover .icon {
				fill: $charcoal;
			}
		}
		
		li a svg {
			display: block;
			width: 4rem;
			height: 4rem;
			
			.ring {
				fill: transparent;
				stroke: #ddd;
				transition: stroke 0.125s ease-in-out;
			}
			
			.icon {
				fill: #5e5e5e;
				transition: fill 0.125s ease-in-out;
			}
			
			.github-icon {
				transform: scale(0.16);
				transform-origin: 13px 13px;
			}
			
			.linkedin-icon {
				transform: scale(0.036);
				transform-origin: 13px 13px;
			}
		}
	}
}

@keyframes fade-up-in--social {
	from {
		transform: translate3d(0, -10px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.video-icon {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 10px;
	
	svg {
		transform: translateY(0px);
		animation: float 2s ease-in-out infinite;
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-7px);
	}
	100% {
		transform: translateY(0px);
	}
}

.rethink-video {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: $z-rethink-video;
}
