/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Fonts
@font-face {
  font-family: 'Canela';
  font-weight: 400;
  src: url('../fonts/Canela-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Canela';
  font-weight: 600;
  src: url('../fonts/Canela-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Canela';
  font-weight: 700;
  src: url('../fonts/Canela-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 400;
  src: url('../fonts/NeueHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 600;
  src: url('../fonts/NeueHaasGroteskMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 700;
  src: url('../fonts/NeueHaasGroteskBold.ttf') format('truetype');
}

// Global
html, body {
	font-size: 62.5%;
	background: #eee;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

.app {
	font-family: 'Neue Haas Grotesk',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	border: 20px solid #eee;
}

.content-container {
	color: #2f2f2f;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 350px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 12%;
	position: relative;
	box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

// Landing
.landing {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.intro {
	font-family: 'Canela',Georgia,Times New Roman,"serif";
	font-weight: 400;
	font-size: 4rem;
	line-height: 6.4rem;
	letter-spacing: 0.03rem;
	position: relative;
	min-width: 100%;
	
	.name {
		font-weight: 700;
	}
}

.intro a {
	color: #ff110b;
  font-weight: 700;
	text-decoration: none;
	position: relative;
	display: inline-block;
	outline: none;
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	
	&::before {
    position: absolute;
		top: -7px;
    left: -1px;
    z-index: -1;
    width: 101%;
    height: 115%;
    content: '';
		background: #ff110b;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scaleY(0.618) translateX(-100%);
    -ms-transform: scaleY(0.618) translateX(-100%);
    transform: scaleY(0.618) translateX(-100%);
		
		pointer-events: none;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
	}
	
	&:hover::before,
  &:focus::before {
  	-webkit-transform: scaleY(0.618) translateX(0);
  	-ms-transform: scaleY(0.618) translateX(0);
  	    transform: scaleY(0.618) translateX(0);
  }
	
	&.atlantic {
		color: #ab987a;
	}
	
	&.atlantic::before {
		background: #ab987a;
	}
	
	&:hover,
	&:focus {
		color: #fff;
	}
}

.intro h2 {
	transform: translate3d(0, 20px, 0);
	opacity: 0;
	animation: fade-up-in--intro 1.2s cubic-bezier(0, 0.13, 0, 1.02) 0.9s forwards;
	will-change: transform, opacity;
}

.intro h2:nth-of-type(1) {
	animation-delay: 1.8s;
}

.intro h2:nth-of-type(2) {
	animation-delay: 1.9s;
}

.intro h2:nth-of-type(3) {
	animation-delay: 2s;
}

.intro h2:nth-of-type(4) {
	animation-delay: 2.1s;
	margin-top: 60px;
}

@keyframes fade-up-in--intro {
	from {
		transform: translate3d(0, 20px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, rgba(255, 255, 255, 0) 20%);
	background-position: 8% 80%;
	background-size: 5px 2px;
	background-repeat: repeat-x;
	transition: all 0.3s ease;
	margin: 0 8px;
}

.tooltip:hover {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 40%, rgba(255, 255, 255, 0) 20%);
	
	.tooltip__message {
	    opacity: 1;
	    margin-bottom: 5px;
	    visibility: visible;
	}
}

.tooltip__message {
	position: absolute;
  left: 30px;
  bottom: 92%;
  height: 41px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
	font-family: 'Neue Haas Grotesk';
  font-size: 1.4rem;
  line-height: 4rem;
  letter-spacing: 0.05rem;
	white-space: nowrap;
  border-radius: 7px;
  padding: 0px 15px;
	transform-origin: center center;
	transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
	opacity: 0;
  visibility: hidden;
	
	&::before {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid rgba(0, 0, 0, 0.8);
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -3px;
	}
}

.ampersand {
	width: 35px;
	margin: 0 5px;
}

// Side Nav Left
.side-nav-left {
	position: fixed;
	top: 0;
	left: 20px;
	width: 9%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.social-buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 200px;
		
		&.active {
			li {
				animation: fade-up-in--social 0.3s cubic-bezier(0, 0.13, 0, 1.02) 0.3s forwards;
			}
		}
		
		li {
			transform: translate3d(0, 10px, 0);
			opacity: 0;
			will-change: transform;
			will-change: opacity;

			&:nth-of-type(1) {
				animation-delay: 0s;
			}
			
			&:nth-of-type(2) {
				animation-delay: 0.1s;
			}

			&:nth-of-type(3) {
				animation-delay: 0.2s;
			}

			&:nth-of-type(4) {
				animation-delay: 0.3s;
			}
		}
		
		li a {
			transition: color 0.15s;
			
			&:hover .ring {
				stroke: #1a1a1a;
			}
			
			&:hover .mark {
				fill: #1a1a1a;
			}
		}
		
		li a svg {
			display: block;
			width: 4rem;
			height: 4rem;
			
			.ring {
				fill: transparent;
				stroke: #ddd;
				transition: stroke 0.125s ease-in-out;
			}
			
			.mark {
				fill: #5e5e5e;
				transition: fill 0.125s ease-in-out;
			}
			
			.github-mark {
				transform: scale(0.16);
				transform-origin: 13px 13px;
			}
			
			.linkedin-mark {
				transform: scale(0.036);
				transform-origin: 13px 13px;
			}
		}
	}
}

@keyframes fade-up-in--social {
	from {
		transform: translate3d(0, -10px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

// Project Tiles
.project-tiles__heading {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-size: 150px;
	font-weight: bold;
	position: relative;
	top: 80px;
}

.project-tiles__columns {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.project-tiles__column {
	flex-direction: column;
	flex-basis: 50%;
	max-width: 50%;
	perspective: 5000px;
	-webkit-perspective: 5000px;
}

.project-tiles__column-a-wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 10%;
	transition: transform 1.5s ease-out;
	transform: translate3d(0, -27.5%, 0);
	animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
	animation-delay: 1s;
}

.project-tiles__column-a {
	transition: transform 1.5s ease-out;
	padding-bottom: 125px;
}

.project-tiles__column-b {
	transform: translate3d(0, -27.5%, 0);
	animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
	animation-delay: 1.1s;
}

@keyframes column-slide-down {
  from {
    transform: translate3d(0, -27.5%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.project-tiles__tile {
	position: relative;
	width: 100%;
	padding-bottom: 72%;
	overflow: hidden;
	cursor: pointer;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	&:hover .project-tiles__description {
		opacity: 1;
		animation: fade-in-right ease 0.3s forwards;
	}
	
	&:hover .project-tiles__gradient-overlay {
		opacity: 1;
	}
}

.project-tiles__tile-content {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 40px;
	z-index: 3;
	opacity: 0;
	
	animation: fade-in 0.5s ease-in forwards;
	animation-delay: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-tiles__client {
	display: block;
	font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 15px;
  letter-spacing: 0.05rem;
}

.project-tiles__title {
	font-family: 'Canela';
  font-weight: 600;
	font-size: 3.4rem;
  line-height: 4.6rem;
	max-width: 85%;
	
	a {
		color: inherit;
		text-decoration: none;
	}
	
	a::after {
		display: block;
		position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
	}
}

.project-tiles__description {
	font-size: 2rem;
	line-height: 2.6rem;
	letter-spacing: 0.05rem;
	max-width: 75%;
	margin-top: 50px;
	opacity: 0;
	transform: translate3d(-5px, 0, 0);
	transition: opacity 0.3s ease-out, transform 0.7s ease-out;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(-5px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.project-tiles__cta {
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.6rem;
	letter-spacing: 0.05rem;
	position: absolute;
  bottom: 40px;
  left: 40px;
	z-index: 3;
	opacity: 0;
	
	animation: fade-in 0.5s ease-in forwards;
	animation-delay: 2s;
}

.project-tiles__image {
	position: absolute;
	width: 100%;
  height: 100%;
	z-index: 2;
}

.project-tiles__gradient-overlay {
	position: absolute;
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.b-lazy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	
	opacity: 0;
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(.19, 1, .22, 1) 0.8s;

  &.b-loaded {
    opacity: 1;
    transform: scale(1);
  }
}

#behanced.project-tiles__tile {
	.project-tiles__tile-content,
	.project-tiles__cta {
		color: #2f2f2f;
	}
}

#pbs.project-tiles__tile {
	.project-tiles__tile-content,
	.project-tiles__cta {
		color: #2f2f2f;
	}
}

#betterment.project-tiles__tile {
	.project-tiles__title {
		max-width: 100%;
	}
}

#wework.project-tiles__tile {
	border-top-left-radius: 15px;
	
	.project-tiles__tile-content,
	.project-tiles__cta {
		color: #2f2f2f;
	}
}

#vmware.project-tiles__tile {
	border-top-right-radius: 15px;
}

#stanford.project-tiles__tile {
	border-bottom-left-radius: 15px;
}

#metermate.project-tiles__tile {
	border-bottom-right-radius: 15px;
}

#boa.project-tiles__tile {
	.project-tiles__tile-content,
	.project-tiles__cta {
		color: #2f2f2f;
	}
	
	.project-tiles__image > .b-lazy {
		transform: scale(0.5) translate(34%, -21%);
	}
}

#metermate.project-tiles__tile {
	.project-tiles__tile-content,
	.project-tiles__cta {
		color: #2f2f2f;
	}
}

.video-icon {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 10px;
	
	svg {
		transform: translateY(0px);
		animation: float 2s ease-in-out infinite;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-7px);
	}
	100% {
		transform: translatey(0px);
	}
}

.rethink-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: none;
}

// Footer
.footer {
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
  position: fixed;
	bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
	height: 250px;
  background: #1a1a1a;
  color: #f7f7f7;
  padding: 50px 0;
  text-align: center;
  z-index: 0;
}

.footer__social-buttons {
	margin-top: 10px;
	
	.footer__social-buttons-list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 240px;
		margin: 0 auto;
		
		li a {
			transition: color 0.15s;
			
			&:hover .ring {
				stroke: #5e5e5e;
			}
			
			&:hover .mark {
				fill: #fff;
			}
		}
		
		li a svg {
			display: block;
			width: 4rem;
			height: 4rem;
			
			.ring {
				stroke: #2b2b2b;
				transition: stroke 0.125s ease-in-out;
			}
			
			.mark {
				fill: #b3b3b3;
				transition: fill 0.125s ease-in-out;
			}
			
			.github-mark {
				transform: scale(0.16);
				transform-origin: 13px 13px;
			}
			
			.linkedin-mark {
				transform: scale(0.036);
				transform-origin: 13px 13px;
			}
		}
	}
}

.footer__web-tech {
	margin: 50px 0;
	
	.footer__web-tech-list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 550px;
		margin: 15px auto;
		
		li {
			transition: transform 0.15s;
			
			&:hover {
				transform: scale(1.1);
			}
		}

		.octocat,
		.dots {
			fill: #f7f7f7;
		}
	}
}
