.side-nav-social {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;

    &.active {
      li {
        animation: fade-up-in--social 0.3s cubic-bezier(0, 0.13, 0, 1.02) 0.3s forwards;
      }
    }

    li {
      transform: translate3d(0, 10px, 0);
      opacity: 0;
      will-change: transform;
      will-change: opacity;

      &:nth-of-type(1) {
        animation-delay: 0s;
      }

      &:nth-of-type(2) {
        animation-delay: 0.1s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.2s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.3s;
      }
    }

    li a {
      transition: color 0.15s;

      &:hover .ring {
        stroke: $charcoal;
      }

      &:hover .icon {
        fill: $charcoal;
      }
    }

    li a svg {
      display: block;
      width: 4rem;
      height: 4rem;

      .ring {
        fill: transparent;
        stroke: #ddd;
        transition: stroke 0.125s ease-in-out;
      }

      .icon {
        fill: #5e5e5e;
        transition: fill 0.125s ease-in-out;
      }

      .github-icon {
        transform: scale(0.16);
        transform-origin: 13px 13px;
      }

      .linkedin-icon {
        transform: scale(0.036);
        transform-origin: 13px 13px;
      }
    }
  }
}

@keyframes fade-up-in--social {
  from {
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
