.footer {
  position: fixed;
  bottom: 0;
  height: 250px;
  width: 100%;
  max-width: $max-width;
  font-family: $font--mono;
  font-size: 1.2rem;
  letter-spacing: -1px;
  background: $footer--background;
  color: $footer--color;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  z-index: $z-footer;

  @include mobile--iphone {
    height: 275px;
  }

  &__social-buttons {
    margin-top: 10px;
  }

  &__social-buttons-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
    margin: 0 auto;

    li a {
      transition: color 0.15s;

      &:hover .ring {
        stroke: white;
      }

      &:hover .icon {
        fill: white;
      }
    }

    li a svg {
      display: block;
      width: 4rem;
      height: 4rem;

      .ring {
        stroke: #5e5e5e;
        transition: stroke 0.125s ease-in-out;
      }

      .icon {
        fill: #b3b3b3;
        transition: fill 0.125s ease-in-out;
      }

      .github-icon {
        transform: scale(0.16);
        transform-origin: 13px 13px;
      }

      .linkedin-icon {
        transform: scale(0.036);
        transform-origin: 13px 13px;
      }
    }
  }

  &__web-tech {
    margin: 50px 0;

    p {
      @include mobile--iphone {
        max-width: 70%;
        margin: 0 auto;
        line-height: 2rem;
      }
    }
  }

  &__web-tech-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    margin: 15px auto;

    @include mobile {
      width: 100%;

      svg.react {
        width: 60px;
      }

      svg.babel {
        width: 75px;

        @include mobile--iphone {
          width: 60px;
        }
      }

      svg.webpack,
      svg.sass,
      svg.github {
        width: 35px;
      }
    }

    li {
      transition: transform 0.15s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .github,
    .octocat,
    .dots {
      fill: $footer--color;
    }
  }
}
