.project-tiles__heading {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    Helvetica Neue, sans-serif;
  font-size: 150px;
  font-weight: bold;
  position: relative;
  top: 80px;
}

.project-tiles__columns {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-bottom: 15%;
}

.project-tiles__column {
  flex-direction: column;
  flex-basis: 50%;
  max-width: 50%;
  perspective: 5000px;
  -webkit-perspective: 5000px;
}

.project-tiles__column-a-wrapper {
  width: 100%;
  height: auto;
  padding-bottom: 10%;
  transition: transform 1.5s ease-out;
  transform: translate3d(0, -23%, 0);
  animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
  animation-delay: 1s;
}

.project-tiles__column-a {
  transition: transform 1.5s ease-out;
  padding-bottom: 125px;
}

.project-tiles__column-b {
  transform: translate3d(0, -23%, 0);
  animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
  animation-delay: 1.1s;
}

@keyframes column-slide-down {
  from {
    transform: translate3d(0, -23%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
