.project-tiles {
  &__tile {
    position: relative;
    width: 100%;
    padding-bottom: 72%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover .project-tiles__cta {
      transform: scaleY(1) translateZ(0);
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover .project-tiles__description {
      animation: fade-in-right ease 0.3s forwards;
    }

    &:hover .project-tiles__year-role {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;
    }

    &:hover .project-tiles__tech-tag-list {
      opacity: 0;
      transform: translate3d(0, 5px, 0);
      transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;
    }

    &:hover .project-tiles__gradient-overlay {
      opacity: 1;
    }
  }

  &__content-gradient {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    background-size: cover;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__tile-content {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    z-index: $z-project-tiles-content;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;

    @include desktop--narrow {
      padding: 30px;
    }

    @include tablet--ipad {
      padding: 25px;
    }
  }

  &__client {
    display: block;
    font-family: 'MaisonNeue-Mono';
    font-size: 0.8vw;
    letter-spacing: -1px;
    margin-bottom: 10px;

    @include desktop--wide {
      font-size: 1.4rem;
    }

    @include tablet--ipad-pro {
      font-size: 1rem;
      margin-bottom: 5px;
    }
  }

  &__title {
    font-family: 'MaisonNeue-Demi';
    font-size: 1.8vw;
    line-height: 2.2vw;
    letter-spacing: -1px;
    max-width: 75%;

    @include desktop--wide {
      font-size: 2.8rem;
    }

    @include tablet--ipad-pro {
      font-size: 2rem;
      line-height: 2.6rem;
    }

    @include mobile {
      letter-spacing: -0.5px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $z-project-tiles-title;
      }
    }
  }

  &__description {
    font-family: 'MaisonNeue-Book';
    font-size: 1.2vw;
    line-height: 1.8vw;
    max-width: 90%;
    margin-top: 40px;
    opacity: 0;
    transform: translate3d(-10px, 0, 0);

    @include desktop--wide {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    @include desktop--narrow {
      margin-top: 30px;
    }

    @include tablet--ipad-pro {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-top: 25px;
    }

    @include tablet--ipad {
      display: none;
    }
  }

  &__year-role {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-family: 'MaisonNeue-Mono';
    font-size: 0.9vw;
    line-height: 2.2rem;
    letter-spacing: -1px;
    margin-top: 50px;
    opacity: 0;
    transform: translate3d(0, 5px, 0);
    transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;

    @include desktop--wide {
      font-size: 1.5rem;
    }

    @include desktop--narrow {
      left: 30px;
      bottom: 30px;
    }

    @include tablet--ipad-pro {
      font-size: 1.1rem;
    }

    @include tablet--ipad {
      left: 25px;
      bottom: 25px;
    }

    span {
      font-family: 'MaisonNeue-Bold';
      letter-spacing: 0;
    }
  }

  &__cta {
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: 'MaisonNeue-Mono';
    font-size: 1.2rem;
    letter-spacing: -1px;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 15px 20px;
    z-index: $z-project-tiles-cta;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transform-origin: 0 0;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &__tech-tag-list {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 3;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;

    @include desktop--narrow {
      left: 30px;
      bottom: 30px;
    }

    @include tablet--ipad {
      left: 25px;
      bottom: 25px;
    }
  }

  &__tech-tag {
    display: inline-block;
    font-family: 'MaisonNeue-Mono';
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -1px;
    margin-right: 3px;
    margin-bottom: 2px;
    padding: 6px 8px 4px;
    border-radius: 3px;
    color: white;
    background-color: black;

    &:first-of-type {
      margin-left: 0;
    }

    @include tablet--ipad-pro {
      font-size: 1rem;
      line-height: 1rem;
      margin-right: 2px;
      padding: 6px 8px 5px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: $z-project-tiles-image;
  }

  &__gradient-overlay {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $z-project-tiles-gradient;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

// Column A: project-specific styles
#netflix.project-tiles__tile {
  border-top-left-radius: 15px;

  @include mobile {
    border-top-right-radius: 15px;

    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 100px;
    }
  }

  @include mobile--iphone {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 70px;
    }
  }

  @include mobile--iphone5 {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 50px;
    }
  }

  .project-tiles__tile-content {
    color: $project-tiles--color;
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#pbs.project-tiles__tile {
  @include mobile--iphone {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 10px;
    }
  }

  .project-tiles__tile-content {
    color: $project-tiles--color;
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#volvo.project-tiles__tile {
  .project-tiles__content-gradient {
    background-image: none;
  }
}

#boa.project-tiles__tile {
  .project-tiles__image > .b-lazy {
    transform: scale(0.5) translate(34%, -21%);
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#stanford.project-tiles__tile {
  border-bottom-left-radius: 15px;

  @include mobile {
    border-bottom-left-radius: 0;
  }
}

// Column B: project-specific styles
#vmware.project-tiles__tile {
  border-top-right-radius: 15px;

  @include mobile {
    border-top-right-radius: 0;
  }
}

#wework.project-tiles__tile {
  .project-tiles__tile-content {
    color: $project-tiles--color;
  }

  .project-tiles__title {
    max-width: 60%;
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#behanced.project-tiles__tile {
  @include mobile {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 100px;
    }
  }

  @include mobile--iphone {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 70px;
    }
  }

  @include mobile--iphone5 {
    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 50px;
    }
  }

  .project-tiles__tile-content {
    color: $project-tiles--color;
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#cnn.project-tiles__tile {
  .project-tiles__title {
    max-width: 60%;

    @include tablet--ipad-pro {
      max-width: 70%;
    }
  }

  .project-tiles__description {
    max-width: 90%;
  }
}

#betterment.project-tiles__tile {
  .project-tiles__title {
    max-width: 70%;

    @include tablet--ipad-pro {
      max-width: 70%;
    }
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

#metermate.project-tiles__tile {
  border-bottom-right-radius: 15px;

  @include mobile {
    border-bottom-left-radius: 15px;

    .project-tiles__tech-tag:nth-of-type(4) {
      margin-right: 10px;
    }
  }

  .project-tiles__tile-content {
    color: $project-tiles--color;
  }

  .project-tiles__content-gradient {
    background-image: none;
  }
}

// bLazy.js
.b-lazy {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;

  opacity: 0;
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;

  &.b-loaded {
    opacity: 1;
    transform: scale(1);
  }
}

// Keyframe animations
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
