.project-tiles {
  &__heading {
    font-family: $font--medium;
    font-weight: bold;
    font-size: 12rem;
    line-height: 11rem;
    color: black;
    position: relative;
    top: 22px;
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, -25%, 0);
    animation: heading-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 1.5s forwards;
    animation-delay: 2.5s;

    @include tablet--ipad-pro {
      top: 23px;
    }

    @include tablet--ipad {
      font-size: 8rem;
      top: 35px;
    }

    @include mobile {
      font-size: 7rem;
    }
  }

  &__columns {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-bottom: 15%;

    @include mobile {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__column {
    flex-direction: column;
    flex-basis: 50%;
    max-width: 50%;
    perspective: 5000px;
    -webkit-perspective: 5000px;

    @include mobile {
      max-width: 100%;
    }
  }

  &__column-a {
    transform: translate3d(0, -23%, 0);
    animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
    animation-delay: 1.1s;
  }

  &__column-b-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    transition: transform 1.5s ease-out;
    transform: translate3d(0, -23%, 0);
    animation: column-slide-down cubic-bezier(0.485, 0.135, 0.15, 0.86) 2s forwards;
    animation-delay: 1s;

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__column-b {
    transition: transform 1.5s ease-out;
    padding-bottom: 125px;

    @include mobile {
      padding-bottom: 0;
    }
  }
}

// Keyframe animations
@keyframes heading-slide-down {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes column-slide-down {
  from {
    transform: translate3d(0, -23%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
