.nav {
  background: white;
  position: relative;
  padding-bottom: 25px;

  &__logo {
    position: absolute;
    top: 80px;
    left: 0;

    @include tablet--ipad-pro {
      top: 63px;
    }

    @include tablet--ipad {
      top: 48px;
    }

    @include mobile {
      top: 27px;
    }

    img {
      width: 50px;
    }
  }

  &__links {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 100px;
    background: transparent;

    @include desktop--narrow {
      margin: 0 $side-bar-width--desktop;
    }

    @include tablet--ipad-pro {
      margin: 0 $side-bar-width--tablet;
      padding-top: 75px;
    }

    @include tablet--ipad {
      padding-top: 60px;
    }

    @include mobile {
      margin: 0 $side-bar-width--mobile;
      padding-top: 45px;
    }

    ul li {
      font-family: $standard-font;
      font-weight: 400;
      font-size: 1.8rem;
      display: inline;
      margin-left: 40px;
      opacity: 0;
      animation: fade-in 1s cubic-bezier(0, 0.13, 0, 1.02) 1s forwards;

      @include mobile {
        font-size: 1.4rem;
        margin-left: 20px;
      }

      @include mobile--iphone5 {
        margin-left: 15px;
      }

      &:nth-of-type(1) {
        animation-delay: 1.3s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.5s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.7s;
      }
    }

    ul li a {
      position: relative;
      color: $dark-gray;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -3px;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }

      &:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

      &.active {
        &::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
