.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  background: $white;
}

.nav ul li {
  font-family: 'GTPressuraMono-Light';
  font-size: 1.6rem;
  display: inline;
  margin-right: 40px;
}

.nav ul li a {
  color: $dark-gray;
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
