.nav {
  background: $white;
  position: relative;
  padding-bottom: 25px;

  &__logo {
    position: absolute;
    left: calc(10% - 4px);
    top: 88px;

    img {
      width: 50px;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
    background: $white;
  }

  &__links ul li {
    font-family: 'MaisonNeue-Mono';
    font-size: 1.4rem;
    letter-spacing: -1px;
    display: inline;
    margin-left: 40px;
  }

  &__links ul li a {
    color: $dark-gray;
    text-decoration: none;
  }

  &__links ul li a:hover {
    text-decoration: underline;
  }
}
